.vs/
WindowsFormsApp1/bin/
WindowsFormsApp1/obj/
ConsoleApp1/bin/
ConsoleApp1/obj/

WpfApp1/obj/
WpfApp1/bin/
MyHelper.Tests/bin/
MyHelper/obj/
MyHelper/bin/
MyHelper.Tests/obj/
packages/
L008/obj/
L008/bin/Debug/L008.exe
L008/bin/Debug/L008.exe.config
L008/bin/Debug/L008.pdb
