.vs/
WindowsFormsApp1/bin/
WindowsFormsApp1/obj/
ConsoleApp1/bin/
ConsoleApp1/obj/

WpfApp1/obj/
WpfApp1/bin/
MyHelper.Tests/bin/
MyHelper/obj/
MyHelper/bin/
MyHelper.Tests/obj/
packages/
L008/obj/
L008/bin/Debug/L008.exe
L008/bin/Debug/L008.exe.config
L008/bin/Debug/L008.pdb
GrpcServer.Web/bin/
GrpcServer.Web/obj/
GrpcService1/bin/
GrpcService1/obj/Debug/netcoreapp3.1/staticwebassets/GrpcService1.StaticWebAssets.Manifest.cache
GrpcService1/obj/Debug/netcoreapp3.1/staticwebassets/GrpcService1.StaticWebAssets.xml
GrpcService1/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
GrpcService1/obj/Debug/netcoreapp3.1/12fbc7ffe642ca7e_greet.protodep
GrpcService1/obj/Debug/netcoreapp3.1/Greet.cs
GrpcService1/obj/Debug/netcoreapp3.1/GreetGrpc.cs
GrpcService1/obj/Debug/netcoreapp3.1/GrpcService1.AssemblyInfo.cs
GrpcService1/obj/Debug/netcoreapp3.1/GrpcService1.AssemblyInfoInputs.cache
GrpcService1/obj/Debug/netcoreapp3.1/GrpcService1.assets.cache
GrpcService1/obj/Debug/netcoreapp3.1/GrpcService1.csproj.CopyComplete
GrpcService1/obj/Debug/netcoreapp3.1/GrpcService1.csproj.CoreCompileInputs.cache
GrpcService1/obj/Debug/netcoreapp3.1/GrpcService1.csproj.FileListAbsolute.txt
GrpcService1/obj/Debug/netcoreapp3.1/GrpcService1.csprojAssemblyReference.cache
GrpcService1/obj/Debug/netcoreapp3.1/GrpcService1.dll
GrpcService1/obj/Debug/netcoreapp3.1/GrpcService1.exe
GrpcService1/obj/Debug/netcoreapp3.1/GrpcService1.genruntimeconfig.cache
GrpcService1/obj/Debug/netcoreapp3.1/GrpcService1.MvcApplicationPartsAssemblyInfo.cache
GrpcService1/obj/Debug/netcoreapp3.1/GrpcService1.pdb
GrpcService1/obj/Debug/netcoreapp3.1/GrpcService1.RazorTargetAssemblyInfo.cache
GrpcService1/obj/GrpcService1.csproj.nuget.dgspec.json
GrpcService1/obj/GrpcService1.csproj.nuget.g.props
GrpcService1/obj/GrpcService1.csproj.nuget.g.targets
GrpcService1/obj/project.assets.json
GrpcService1/obj/project.nuget.cache
